@model IEnumerable<meeting_keeper.Models.Calendar>

@{
    ViewData["Title"] = "Calendar";
}
@section styles {
    <link rel="stylesheet" href="~/lib/scheduler/codebase/dhtmlxscheduler.css" />
    <link rel="stylesheet" href="~/lib/fullcalendar/dist/fullcalendar.css" />
<link rel="stylesheet" href="~/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-colorselector/lib/bootstrap-colorselector-0.2.0/css/bootstrap-colorselector.css" />
}
@section Scripts {
    <script src="~/lib/moment/min/moment.min.js"></script>
    <script src="~/lib/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="~/lib/scheduler/codebase/dhtmlxscheduler.js"></script>
    <script src="~/lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/lib/bootstrap-colorselector/lib/bootstrap-colorselector-0.2.0/js/bootstrap-colorselector.js"></script>
    <environment names="Development">
        <script src="@Url.Content("~/js/calendar.js")"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="@Url.Content("~/js/calendar.min.js")"></script>
    </environment>
}

<div id="calendar"></div>
