@model IEnumerable<meeting_keeper.Models.Calendar>

@{
    ViewData["Title"] = "Calendar";
}

<h2>Calendar</h2>

<table class="table">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dateModified)
        </th>
        <th></th>
    </tr>

</table>
