@model meeting_keeper.Models.Contract
@{
    Layout = "_LayoutDashboard";
}
@{
    ViewData["Title"] = "Details";
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Details</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div>
        <h4>Contract</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Name:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.name)
                <br />
                <br />
            </dd>
            <dt>
                Created date:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.dateCreated)
                <br />
                <br />
            </dd>
            <dt>
                Modified date:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.dateModified)
                <br />
                <br />
            </dd>
        </dl>
    </div>
    <p>
        <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </p>
</div>
