@{
    ViewData["Title"] = "About";
}

<div id="aboutPage" class="container" style="text-align:center;">

    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">
                About Us
            </h2>
            <p>&nbsp;</p>
            <h3 style="font-weight: normal;">The team consists of three enthusiastic Computer Science Master's students, which are studying at Graz University of Technology!</h3>
        </div>

    </div>



    <!-- div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">
                Application
            </h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="~/images/About/Client.png" alt="Client">
            <h3>
                Clients
                <small></small>
            </h3>
            <p>Manage you cients easy as... something!</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="~/images/About/contract.png" alt="Contract">
            <h3>
                Contracts
                <small></small>
            </h3>
            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="~/images/About/calendar.png" alt="Calendar">
            <h3>
                Calendar
                <small></small>
            </h3>
            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>

    </div>
-->


    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">
            Our Team
            </h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="~/images/About/ak.jpg" alt="Aleksandar Kojic">
            <h3>
                Aleksandar Kojić<br />
                <small>Security responsible</small>
            </h3>
            <!--<p>What does this team member to? Keep it short! This is also a great spot for social links!</p>-->
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="~/images/about/fr.jpg" alt="Filip Rafajec">
            <h3>
                Filip Rafajec<br />
                <small>Product owner</small>
            </h3>
            <!--<p>What does this team member to? Keep it short! This is also a great spot for social links!</p>-->
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="~/images/about/mk.jpg" alt="Milos Kojic">
            <h3>
                Miloš Kojić<br />
                <small>UX Engineer</small>
            </h3>
            <!--<p>What does this team member to? Keep it short! This is also a great spot for social links!</p>-->
        </div>

    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

</div>