@{
    ViewData["Title"] = "Subscribe";
}

<div id="subscribePage" class="container" style="text-align:center;">

    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">
                Subscribe
            </h2>
            <p>&nbsp;</p>
            <h3 style="font-weight: normal;">Select the option which best fits your business needs. Become a member and improve your business right now!</h3>
        </div>

    </div>

    <p>&nbsp;</p>



    <div class="row text-center">
        <div class="col-md-4 col-sm-6 hero-feature">
            <div class="thumbnail">
                <i class="fa fa-user" aria-hidden="true"></i>
                <div class="caption">
                    <h3>Starter</h3>
                    <p>With this subscription you will be able to manage up to <u>100</u> clients with full application features. However this subscription option doesn't include free support.</p>
                    <p>
                        <a href="#" class="btn btn-primary">Buy Now!</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 hero-feature">
            <div class="thumbnail">
                <i class="fa fa-users" aria-hidden="true"></i>
                <div class="caption">
                    <h3>Professional</h3>
                    <p>This subscription enables you to manage up to <u>500</u> clients with full application features. However this subscription option doesn't include free support.</p>
                    <p>
                        <a href="#" class="btn btn-primary">Buy Now!</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 hero-feature">
            <div class="thumbnail">
                <i class="fa fa-rocket" aria-hidden="true"></i>
                <div class="caption">
                    <h3>Ultimate</h3>
                    <p>No limitations, no restrictions! Manage <u>unlimited</u> clients with full application features. Also, this subscription option includes <u>free support</u> as well.</p>
                    <p>
                        <a href="#" class="btn btn-primary">Buy Now!</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>


</div>