<footer id="footer" class="container">

    <div class="row">
        <div class="col-md-4">
            <h4>
                Project SW16
            </h4>
            <p>
                Text about Software Tech project and XP
            </p>
        </div>

        <div class="col-md-4">
            <h4>
                Subscription
            </h4>
            <p>
                Text on how can one subscribe to our website and what we offer!
            </p>
            <p><a class="btn btn-primary btn-sm" asp-controller="Home" asp-action="Subscribe" role="button">Subscriptions</a></p>
        </div>

        <div class="col-md-4">
            <h4>
                Our business
            </h4>
            <div class="navbar vertical-navbar">
                <ul class="nav navbar">
                    <li><a asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
                    <li><a asp-controller="Home" asp-action="Cookie">Cookie Policy</a></li>
                    <li><a asp-controller="Home" asp-action="Terms">Terms &amp; Conditions</a></li>
                </ul>
            </div>

        </div>

    </div>

</footer>
