<footer id="footer" class="container">

    <div class="row">
        <div class="col-md-4">
            <h4>
                Heading 1
            </h4>
            <p>
                Text 1
            </p>
        </div>

        <div class="col-md-4">
            <h4>
                Heading 2
            </h4>
            <p>
                Text 2
            </p>
        </div>

        <div class="col-md-4">
            <h4>
                Heading 3
            </h4>
            <p>
                Text 3
            </p>
        </div>

    </div>

</footer>
