<div class="navbar navbar-inverse navbar-fixed-top">

    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-controller="Home" asp-action="Index" class="navbar-brand">Meeting keeper</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a asp-controller="Home" asp-action="Index">HomePUB</a></li>
                <li><a asp-controller="Home" asp-action="About">AboutPUB</a></li>
                <li><a asp-controller="Home" asp-action="Contact">ContactPUB</a></li>

                <li><a asp-controller="Client" asp-action="Index">Client</a></li>
            </ul>
            @await Html.PartialAsync("_LoginPartial")
        </div>

    </div>

</div>